:root {
    --streamGreen: hsl(121, 100%, 49%); /* Not far from chartreuse */
    --borderWidth: 1vw;
    --boxShadowSize: 3vw;
    --textShadow: 3vw;
    --scanlineStrength: 5%;
    --scanlineSize: 0.5vw;
}

html {
    box-sizing: border-box; /* Flexible border-box reset */
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit; /* All elements (including pseudo elements) will inherit border-box */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column-reverse; /* Puts menu at the bottom */
    height: 100%;
    color: var(--streamGreen);
    background-color: black;
    font-family: 'VT323', monospace;
    text-shadow: 0px 0px var(--textShadow) var(--streamGreen);
}

html:before {
    position: absolute;
    content:"";
    background: repeating-linear-gradient(0, hsl(0, 0%, 0%, var(--scanlineStrength)), hsl(0, 0%, 0%, var(--scanlineStrength)) var(--scanlineSize), hsl(0, 0%, 50%, var(--scanlineStrength)) var(--scanlineSize), hsl(0, 0%, 50%, var(--scanlineStrength)) calc(var(--scanlineSize) * 2)) ;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 3;
}

nav {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: var(--streamGreen);
    border-width: 0px 0px var(--borderWidth) var(--borderWidth);
    border-style: solid;
}

.menuButton {
    height: 100%;
    width: 25%;
    border: var(--streamGreen);
    border-width: 0px var(--borderWidth) 0px 0px;
    border-style: solid;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: 125%;
    text-shadow: inherit;
    box-shadow: 0px 0px var(--boxShadowSize) 0px var(--streamGreen) inset;
    letter-spacing: 0.25em;
    align-self: center;
    padding: 0px;
    display: block;
    font-weight: lighter;
}

.active {
    font-weight: bolder;
    text-shadow: 0px 0px calc(2 * var(--textShadow)) var(--streamGreen);
    background-color: hsla(121, 100%, 49%, 0.2);
}

main {
    height: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px var(--boxShadowSize) 0px var(--streamGreen) inset;
    overflow-y: auto;
    overflow-x: hidden;
    border: var(--streamGreen);
    border-width: var(--borderWidth);
    border-style: solid;
}

.menuContent {
    display: none;
    flex-direction: column;
} /* All sections will be hidden on page load... */

#homeContent {
    display: flex;
} /* ...except the home section */

p {
    font-size: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

h1 {
    font-size: 7vw;
    margin: 0 5vw 0 5vw;
}

img {
    filter: saturate(0);
    width: 80vw;
    align-self: center;
}

/* @media only screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }
} */